{% extends 'blank.html' %}

{% block body %}
<div class="container-fluid">
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-dark m-0 font-weight-bold">Team: {{ team.name }}</p>
            {% if edit %}
            <p class="text-dark m-0 font-weight-bold">ID: {{ team.link }}</p>
            <form action="/link/" method="POST" class="form-inline">
                <div class="form-group mb-2 ">
                    <p class="text-dark m-0 font-weight-bold">Send invites to a new player: </p>
                </div>
                <div class="form-group mx-sm-2 mb-0">
                    <input type="email" class="form-control" type="email" id="email" aria-describedby="emailHelp" placeholder="Email Address" name="email" required>
                </div>
                <button type="submit" class="btn btn-outline-dark mb-0">Send</button>
            </form>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Date of entry</th>
                            {% if edit==True %}
                            <th>Config</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for el in members %}
                            <tr>
                                <form action="{{ url_for('edit_member', id=el.id) }}" method="POST">
                                    <td>{{ el.name }}</td>
                                    {% if edit %}
                                    <td>
                                        <input class="form-control" type="text" id="type" name="type" value="{{ el.position }}" {% if el.position == 'Creater' %} disabled {% endif %}>
                                    </td>
                                    {% else %}
                                    <td>{{ el.position }}</td>
                                    {% endif %}
                                    <td>{{ el.date.date() }}</td>
                                    {% if edit %}
                                    <td>
                                        <div class="form-group">
                                            <button class="btn btn-outline-success btn-sm" type="submit" {% if el.position == 'Creater' %} disabled {% endif %}>Save</button>
                                            <form action="https://google.ru">
                                                <input class="btn btn-outline-danger btn-sm" type="submit" {% if el.position == 'Creater' %} disabled {% endif %} value="Del" />
                                            </form>
                                        </div>
                                    </td>
                                    {% endif %}
                                </form>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Date of entry</th>
                            {% if edit==True %}
                            <th>Config</th>
                            {% endif %}
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}